body {
    font-family: 'Montserrat', sans-serif;
}

.singUpForm {
    margin: auto;
    width: 90% !important; 
}

.input-group-text {
    width: 100% !important; 
}
.table td {
    vertical-align:middle;
}

.submitest {
    display: block;
    text-align: center;
}
