h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

div .form-check {
    margin-left: 20px;
}



.modal-xl {
    max-width: 800px;
    text-align: center;
}


.recruiterNick {
    text-align: center;
    color: green;
    margin-top: 10px;
    margin-bottom: 10px;
}

